* {
    background: #fcffef;
    color: #000066;
}
html {
    height: 100%;
}
body {
    height: 100%;
    border: 5px solid #CC52CC;
}
h1 {
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-variant: small-caps;
}
p, div {
    font-size: 16px;
}
