* {
    background: #fcffef;
    color: #006;
}
html {
    height: 100%;
}
body {
    height: 100%;
    border: 5px solid #CC52CC;
    font-family: Georgia, Garamond, "Times New Roman", serif;
}
h1 {
    font-size: 1.5rem;
    line-height: 0.6rem;
    font-variant: small-caps;
    font-family: Raleway, sans-serif;
  }
//a {color: #33f;}
p, div {
    font-size: 18px;
}
hr.poem {
    width: 14.5em;
    border: 1px solid #006;
    margin-bottom: 6px;
}